<a href="https://colab.research.google.com/github/JacksianYun/pytorch_tutorial/blob/master/basic_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# http://pytorch.org/
from os.path import exists
from wheel.pep425tags import get_abbr_impl, get_impl_ver, get_abi_tag
platform = '{}{}-{}'.format(get_abbr_impl(), get_impl_ver(), get_abi_tag())
cuda_output = !ldconfig -p|grep cudart.so|sed -e 's/.*\.\([0-9]*\)\.\([0-9]*\)$/cu\1\2/'
accelerator = cuda_output[0] if exists('/dev/nvidia0') else 'cpu'

!pip install -q http://download.pytorch.org/whl/{accelerator}/torch-0.4.1-{platform}-linux_x86_64.whl torchvision
import torch

tcmalloc: large alloc 1073750016 bytes == 0x57548000 @  0x7f52db32b2a4 0x591a07 0x5b5d56 0x502e9a 0x506859 0x502209 0x502f3d 0x506859 0x504c28 0x502540 0x502f3d 0x506859 0x504c28 0x502540 0x502f3d 0x506859 0x504c28 0x502540 0x502f3d 0x507641 0x502209 0x502f3d 0x506859 0x504c28 0x502540 0x502f3d 0x507641 0x504c28 0x502540 0x502f3d 0x507641

In [2]:

from __future__ import print_function
import torch
x = torch.rand(5, 3)
print(x)

tensor([[0.1037, 0.8714, 0.2940],
        [0.2672, 0.3117, 0.5983],
        [0.0662, 0.5946, 0.9839],
        [0.1541, 0.6284, 0.6530],
        [0.4787, 0.2109, 0.4685]])

In [3]:
torch.cuda.is_available()

True

## 자료형과 변수

In [0]:
x = 1 # x에 1을 대입함. 이제부터 x는 1입니다.

In [5]:
type(x) #x 의 타입은 integer 형입니다

int

In [0]:
x = 3.14 #x 는 이제부터 3.14입니다.

In [7]:
type(x) #x의 타입은 float 입니다.

float

파이썬은 인터프리터 언어이면서, 동시에 자료형의 제한이 없습니다. 변수이름만 지정한뒤 어떠한 값을 넣어도 C나 JAVA처럼 에러가 발생하진 않습니다.

In [0]:
x = 'abc' # x는 이제부터 'abc'입니다.

In [9]:
type(x) # x의 타입은 string 입니다.

str

파이썬에서 변수에 값을 넣는게 자유롭다고 해서 연산도 자유로운것은 아닙니다.

In [10]:
1 + '2' #int 형 1과, str형 2는 서로 합칠수 없습니다.

TypeError: ignored

In [11]:
1+int('2') # str을 int형으로 만들면 1 + 2 가 됩니다.

3

In [12]:
str(1) + '2' # 반대로 int를 str형으로 만들면 문자 두개를 순서대로 붙인 모양이 됩니다.

'12'

프린트 방식은 여러가지가 있습니다.

In [13]:
print(1) #이런식으로 괄호 안에 직접 쓰는 방법도 있고

1

In [19]:
print('{} {}'.format("첫번째인자","두번째인자")) #괄호를 통해 순서대로 출력하는것도 가능합니다.

첫번째인자 두번째인자

In [20]:
print('{1} {0}'.format("첫번째인자","두번째인자")) #괄호안에 숫자를 넣어서 반대로 출력하는 것도 가능합니다.

두번째인자 첫번째인자

In [21]:
print('{0} | {0:f} | {0:.2f} | {0:.0f} | {0:%} | {0:.2%}'.format(0.123456)) # 그 외에도 이렇게 여러가지 방법으로 프린트 할수 있습니다.

0.123456 | 0.123456 | 0.12 | 0 | 12.345600% | 12.35%

In [22]:
print(len('안녕하세요')) #길이를 알고 싶을땐 len을 쓰시면 됩니다.

5

In [23]:
sentence = 'hello world'
print(len(sentence))
print(sentence[0])  #string은 동시에 인덱스로 접근이 가능합니다. list처럼 쓰실수 있습니다.

11
h

In [24]:
print(sentence[0:3]) #문장을 앞에서 3개만 출력해보겠습니다.

hel

In [25]:
print(sentence[-3:]) #문장을 뒤에서 3개만 출력해보겠습니다.

rld

슬라이스는 list 조작중에 가장 빈번하게 쓰이는 방법중에 하나로 [ start : end ]  꼴로  쓰입니다. 이 인덱스의 의미는 start 부터 end-1 까지라는 의미입니다.  만약 start가 비어있으면 0, end가 비어있으면 전체길이값이 default로 들어갑니다.

또한 마이너스(-)는 뒤에서부터 몇번째라는 의미입니다. 몇가지 용례를 통해 좀더 자세히 보도록 합시다

In [27]:
print(sentence[:5 ])
print(sentence[0:5])

hello
hello

In [29]:
print(sentence[5:])
print(sentence[5:11])
print(sentence[5:100]) #만약 end길이가 최대 길이보다 넘어가게 되면 길이에 맞게 재조정됩니다.

 world
 world
 world

맨 앞과 맨 뒤만 빼고 나머지만 출력해보겠습니다.

In [30]:
print(sentence[1:-1])

ello worl

문장에도 안될것 같은 연산들이 가능합니다.

In [33]:
print((sentence+'\n') * 5)

hello world
hello world
hello world
hello world
hello world

어물쩡 list는 넘어가고 dict로 넘어가겠습니다.

In [0]:
sample = {} # dict는 말그대로 사전을 의미합니다. 
sample = {'height' : 180} # 앞에는 key값 뒤에는 value값 형태입니다. 구분은 ':' 로 합니다.

In [37]:
sample['age'] = 30  # 이렇게 list값을 지정하는것처럼 하실수도 있습니다. 
sample['job'] = 'business man'
print(sample)  # 프린트 해보면 하나에 다 모여있게 됩니다.

{'height': 180, 'age': 30, 'job': 'business man'}

dict 타입은 키를 토대로 값을 찾아낼 수 있습니다.

In [38]:
print(sample['height'])

180

마지막으로 튜플입니다. 튜플은 값이 변하지 않는 list라고 생각하시면 조금 더 쉬울것 같습니다. 표현은 () 형식으로 합니다.

In [0]:
coord = (1000, 2000)

In [40]:
type(coord)

tuple

In [41]:
coord[0] = 3.14 #값을 변화시킬순 없습니다만

TypeError: ignored

In [43]:
print(coord)
print(coord[0])
print(coord[1]) #값을 자유롭게 접근할 수는 있습니다.

(1000, 2000)
1000
2000

튜플은 전달과정에 있어서 절대 변화하면 안되는 값을 보낼때 많이 쓰입니다. (ex : 함수의 인자들)

# 파이썬의 함수

파이썬의 함수는 매우 직관적입니다.  함수의 area는 선언 부 이후줄부터 선언부 줄보다 들여쓰기 되어있는 모든 라인입니다.

In [45]:
def sample_func() :  #함수의 선언부입니다. 이름은 sample_func네요
  print('in sample func')
  
sample_func() #함수 외부에서 호출하는 방식입니다.

in sample func

In [46]:
def sample_func() :  #함수의 선언부입니다. 이름은 sample_func네요
  for i in range(10) : #for 문의 area도 역시 들여쓰기가 되어있는 부분 까지입니다.
    print('in for loop')
  print('out of for loop')

sample_func()

in for loop
in for loop
in for loop
in for loop
in for loop
in for loop
in for loop
in for loop
in for loop
in for loop
out of for loop